<div class="nav-header">
    <div class="brand-logo">
        <a href="index.html">
            <b class="logo-abbr"> <h4 style="color:white">H</h4> </b>
@*            <span class="logo-compact"><img src="~/adminweb/images/logo-compact.png" alt=""></span>*@
            <span class="brand-title">
               <h3 style="color: white">Hotelier</h3>
            </span>
        </a>
    </div>
</div>