<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">

            <li>
                <a href="/Login/Logout" style="color:red;" aria-expanded="false">
                    <i style="color:red;" class="fa fa-power-off menu-icon"></i><span>Çıkış Yap</span>
                </a>
            </li>
            <li>
                <a href="/Dashboard/Index/" aria-expanded="false">
                    <i class="fa fa-pie-chart menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="fa fa-user menu-icon"></i><span class="nav-text">Personel İşlemleri</span>
                </a>
            </li>

            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="fa fa-address-card menu-icon"></i><span class="nav-text">Referans İşlemleri</span>
                </a>
            </li>

            <li>
                <a href="/Service/Index/" aria-expanded="false">
                    <i class="fa fa-coffee menu-icon"></i><span class="nav-text">Hizmet İşlemleri</span>
                </a>
            </li>

            <li>
            <a href="/Room/Index/" aria-expanded="false">
                    <i class="fa fa-building menu-icon"></i><span class="nav-text">Oda İşlemleri</span>
            </a>
            </li>


            <li>
                <a href="/About/Index/" aria-expanded="false">
                    <i class="fa fa-users menu-icon"></i><span class="nav-text">Hakkımızda İşlemleri</span>
                </a>
            </li>

            <li>
                <a href="/Booking/Index/" aria-expanded="false">
                    <i class="fa fa-calendar menu-icon"></i><span class="nav-text">Rezervasyon İşlemleri</span>
                </a>
            </li>

            <li>
            <a href="/Contact/Index/" aria-expanded="false">
                    <i class="fa fa-phone-square menu-icon"></i><span class="nav-text">İletişim İşlemleri</span>
            </a>
            </li>
            <li>
            <a href="/Subscribe/Index/" aria-expanded="false">
                    <i class="fa fa-envelope menu-icon"></i><span class="nav-text">Abonelik İşlemleri</span>
            </a>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-user-circle"></i> <span class="nav-text">Rol İşlemleri</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Role/Index">Roller</a></li>
                    <li><a href="/RoleAssign/Index">Rol Atama İşlemleri</a></li>
           
                </ul>
            </li>
        </ul>
    </div>
</div>