<div class="container-fluid bg-dark px-0">
    <div class="row gx-0">
        <div class="col-lg-3 bg-dark d-none d-lg-block">
            <a href="/Default/Index" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
            </a>
        </div>
        <div class="col-lg-9">
  
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                <a href="index.html" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="/Default/Index/" class="nav-item nav-link">Anasayfa</a>
                        <a href="/Default/About/" class="nav-item nav-link">Hakkımızda</a>
                        <a href="/Default/Services/" class="nav-item nav-link">Hizmetler</a>
                        <a href="/Default/Rooms/" class="nav-item nav-link">Odalar</a>
                        <a href="/Default/Booking" class="nav-item nav-link">Rezervasyon</a>
                        <a href="/Default/Testimonials" class="nav-item nav-link">Referanslarımız</a>
                        <a href="/Default/Contact" class="nav-item nav-link">İletişim</a>
                    </div>
               
                </div>
            </nav>
        </div>
    </div>
</div>