@model UpdateStaffDto
@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="card-title">
    <h4>Personel Güncelle</h4>
</div>
<form method="post">
    <input type="hidden" asp-for="StaffID" />

    <label>Personel Adı</label>
    <input type="text" asp-for="Name" class="form-control input-rounded" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />

    <label>Personel Ünvan</label>
    <input type="text" asp-for="Title" class="form-control input-rounded" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />

    <label>Sosyal Medya 1</label>
    <input type="text" asp-for="SocaialMedia1" class="form-control input-rounded" />
    <br />

    <label>Sosyal Medya 2</label>
    <input type="text" asp-for="SocaialMedia2" class="form-control input-rounded" />
    <br />

    <label>Sosyal Medya 3</label>
    <input type="text" asp-for="SocaialMedia3" class="form-control input-rounded" />
    <br />

    <button class="btn mb-1 btn-rounded btn-success ">Güncelle</button>
</form>


