@model List<BookingApiViewModel.Result>
@{
    Layout = null;
    int count = 0;
}


<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<div class="card-body">
    <div class="card-title">
        <h4>Oteller</h4>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Otel Adı</th>
                    <th>Puan</th>
                    <th>Detaylar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.name</td>
                        <td>@item.reviewScore</td>

              
                        <td><a href="#" class="btn mb-1 btn-rounded btn-dark">Detaylar</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>




