@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="card-body">
    <div class="card-title">
        <h4>Hizmetler</h4>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Hizmet Başlığı</th>
                    <th>Hizmet İkon</th>
                    <th>Hizmet İkon Önizleme</th>
                    <th>Sil</th>
                    <th>Güncelle</th>
                    <th>Detaylar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ServiceID</td>
                        <td>@item.Title</td>
                        <td>@item.ServiceIcon</td>
                        <td><span class="@item.ServiceIcon"></span></td>

                        <td><a href="/Service/DeleteService/@item.ServiceID" class="btn mb-1 btn-rounded btn-danger">Sil</a></td>
                        <td><a href="/Service/UpdateService/@item.ServiceID" class="btn mb-1 btn-rounded btn-warning">Güncelle</a></td>
                        <td><a href="/Service/DetailsService/@item.ServiceID" class="btn mb-1 btn-rounded btn-dark">Detaylar</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<a href="/Service/AddService/" class="btn mb-1 btn-rounded btn-primary"> Yeni Hizmet Ekle</a>


