@model UpdateTestimonialDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
<div class="card-title">
<h4>Referans Güncelle</h4>
</div>
<form method="post">
    <input type="hidden" asp-for="TestimonialID" />

    <label>Referansl Adı</label>
    <input type="text" asp-for="Name" class="form-control input-rounded" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />

    <label>Referans Ünvan</label>
    <input type="text" asp-for="Title" class="form-control input-rounded" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />

    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control input-rounded" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />

    <label>Resim</label>
    <input type="text" asp-for="Image" class="form-control input-rounded" />
    <span asp-validation-for="Image" class="text-danger"></span>
    <br />

   

    <button class="btn mb-1 btn-rounded btn-success ">Güncelle</button>
</form>


